---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Toma Rosa</h1>
  <h2>Développeur Web</h2>

  <h3>Qu’est-ce que je fais&nbsp;?</h3>
  <ul>
    <li>
      <a href="https://app.astradal.com">Un concepteur de cartes</a>
    </li>
    <li>
      <a href="https://www-janedoagency-com.vercel.app/">
        Un site vitrine pour une agence
      </a>
    </li>
    <li>
      <a href="https://www.maisondelamascotte.com/">
        Un site vitrine pour une maison d’hôtes
      </a>
    </li>
    <li>
      <a href="https://github.com/t-rosa/ark-stack-ui">
        Une bibliothèque de composants
      </a>
    </li>
    <li>
      <a
        href="https://github.com/TanStack/form/pulls?q=is%3Apr+author%3At-rosa+"
      >
        Des contributions open source
      </a>
    </li>
    <li>
      Des expérimentations :
      <ul>
        <li>
          <a href="https://better-league-client.vercel.app/">
            Mon terrain de jeu pour les animations web
          </a>
        </li>
        <li>
          <a href="https://github.com/t-rosa/ABALONE">
            Mon terrain de jeu en C++
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <h3>Qu’est-ce que j’ai fait&nbsp;?</h3>
  <ul>
    <li>
      5 ans chez <a href="https://www.astradal.fr/">Astradal</a>
      <ul>
        <li>
          Développement de fonctionnalités pour des applications cartographiques
          (C#, ExtJS, JavaScript, OpenLayers)
        </li>
        <li>Mise en place de Docker pour plusieurs projets</li>
        <li>
          Refonte de la gestion des utilisateurs et de leurs droits :
          <ul>
            <li>Refonte du modèle de base de données</li>
            <li>Respect du RGPD et renforcement de la sécurité</li>
            <li>
              Développement d’un back-office dédié (ASP.NET Core, React,
              TypeScript, PostgreSQL)
            </li>
          </ul>
        </li>
        <li>Création de cartes sur mesure</li>
        <li>Développement d’un concepteur de cartes personnalisées</li>
        <li>
          Mise en place de pipelines CI/CD et de tests automatisés (GitHub
          Actions)
        </li>
        <li>Édition de rapports avec Crystal Reports</li>
      </ul>
    </li>
    <li>
      2 ans chez <a href="https://optimaconcept.fr/">Optima Concept</a>
      <ul>
        <li>Applications C# (WinForms & services Windows)</li>
        <li>Consulting et formation ERP (Sage & EBP)</li>
        <li>
          Conception d’un client RDP portable et personnalisé (Raspberry Pi +
          Raspbian)
        </li>
      </ul>
    </li>
  </ul>

  <h3>Qu’est-ce que j’utilise&nbsp;?</h3>
  <ul>
    <li>
      Besoin d’une application complexe et interactive, avec un backend
      solide&nbsp;?
      <ul>
        <li>ASP.NET Core</li>
        <li>TypeScript</li>
        <li>React / Angular</li>
        <li>PostgreSQL</li>
      </ul>
    </li>
    <li>
      Un backend moderne, rapide et écrit en TypeScript&nbsp;?
      <ul>
        <li>AdonisJS</li>
        <li>Hono</li>
      </ul>
    </li>
    <li>
      Un frontend ultra-réactif et performant&nbsp;?
      <ul>
        <li>SolidJS</li>
      </ul>
    </li>
    <li>
      Une stack fullstack 100% TypeScript&nbsp;?
      <ul>
        <li>TanStack Start</li>
        <li>SolidStart</li>
      </ul>
    </li>
    <li>
      Un site marketing ou du contenu optimisé pour le SEO&nbsp;?
      <ul>
        <li>Astro</li>
        <li>Vanilla JS</li>
        <li>TanStack Start</li>
        <li>Next.js</li>
      </ul>
    </li>
    <li>
      Vous voulez intégrer de la 3D dans une application web&nbsp;?
      <ul>
        <li>Three.js</li>
        <li>React Three Fiber (r3f)</li>
      </ul>
    </li>
    <li>
      Pour les tests (unitaires, end-to-end, etc.)&nbsp;:
      <ul>
        <li>Vitest</li>
        <li>Playwright</li>
        <li>xUnit</li>
      </ul>
    </li>
    <li>
      Déploiement & automatisation&nbsp;:
      <ul>
        <li>Docker</li>
        <li>GitHub Actions</li>
      </ul>
    </li>
    <li>Et bien d’autres outils selon les besoins du projet…</li>
  </ul>

  <h3>Qu’est-ce que je fais en ce moment&nbsp;?</h3>
  <ul>
    <li>
      Je poursuis le développement de mon
      <a href="https://app.astradal.com">concepteur d’applications</a>
    </li>
    <li>Je progresse avec Angular</li>
    <li>Je renforce mes compétences en C#</li>
    <li>Je perfectionne mon TypeScript</li>
    <li>Je travaille sur une application dédiée à Street Fighter</li>
    <li>Je fais une veille technologique active</li>
    <li>
      Je fais un peu de math tous les jours
      <a href="https://brilliant.org/">sur Brilliant.org</a>
    </li>
    <li>Et j’alimente ma curiosité, constamment</li>
  </ul>

  <h3>Travailler avec moi, ça ressemble à quoi&nbsp;?</h3>
  <ol>
    <li>Je pose beaucoup de questions.</li>
    <li>Je travaille (très probablement) avec plaisir.</li>
    <li>Je n’ai pas peur de me tromper pour avancer.</li>
    <li>Je prends ma pause déjeuner à midi, pile.</li>
    <li>Je parle de code.</li>
  </ol>

  <h3>Contactez-moi</h3>
  <ul>
    <li>
      <a href="mailto:toma.rosa@icloud.com" title="toma.rosa@icloud.com">
        Par e-mail : toma.rosa@icloud.com
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/toma-rosa/">Via LinkedIn</a>
    </li>
  </ul>

  <h3>
    <a href="https://github.com/t-rosa">Mon GitHub</a>
  </h3>
</Layout>
